<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.seeed.iot" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui_main.MainScreenActivity"
            android:theme="@style/Theme.DesignDemo" >
        </activity>

        <activity
            android:name=".ui_setnode.SetupIotNodeActivity"
            android:theme="@style/Theme.NodeSet" >
        </activity>

        <activity android:name=".ui_login.SetupActivity" >

        </activity>
        <activity
            android:name=".ui_smartconfig.GoReadyActivity"
            android:theme="@style/Theme.NodeSet" >
        </activity>
        <activity
            android:name=".ui_smartconfig.SmartConnectActivity"
            android:theme="@style/Theme.NodeSet" >
        </activity>
        <activity
            android:name=".ui_smartconfig.ConfigNodeListActivity"
            android:theme="@style/Theme.NodeSet" >
        </activity>
        <activity
            android:name=".ui_smartconfig.SetNodeNameActivity"
            android:theme="@style/Theme.NodeSet" >
        </activity>
        <activity
            android:name=".ui_main.AboutActivity"
            android:theme="@style/Theme.NodeSet" >
        </activity>
        <activity
            android:name=".ui_main.SettingActivity"
            android:theme="@style/Theme.NodeSet" >
        </activity>
        <activity
            android:name=".ui_main.NodeDetailActivity"
            android:theme="@style/Theme.NodeSet" >
        </activity>
        <activity
            android:name=".ui_splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
